@charset "utf-8";

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: tomato;
}

section {
  width: 100%;
  height: 95vh;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  padding: 0px 5%;
}

ul {
  display: flex;
  justify-content: flex-end;
}

.toggle {
  display: none;
}

li a {
  margin: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #505050;
  font-size: 15px;
  font-weight: 700;
}

li a:hover {
  color: #0f89fc;
  scale: 2px;
}
.active {
  font-weight: bold;
  color: #2d2a2a;
}

button:active {
  transform: scale(1.1);
}
/***** Nav End *****/

.header {
  margin: 3%;
}

.header h2,
p {
  text-transform: uppercase;
  font-weight: bold;
}

.col-md-3 {
  padding: 10px;
}
.single-album {
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px #000;
  border-radius: 10px;
}

.album-img {
  position: relative;
  overflow: hidden;
}

.album-img img {
  width: 100%;
  height: 200px;
  transition: 0.4s;
}

.single-album:hover .album-img img {
  transform: scale(1.5, 1.5);
}

.album-content {
  height: 80px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: absolute;
  bottom: 0;
  transition: all 0.4s;
  background: #e430c5a8;
}

.single-album:hover .album-content {
  height: 150px;
  background: #000;
}

.album-info {
  transition: all 0.5s;
  padding: 5px 20px 5px 20px;
}

.album-info h3 {
  font-size: 16px;
  color: #fff;
  margin: 5px;
  text-transform: uppercase;
}

.single-album:hover .album-info h3 {
  color: tomato;
}

.album-info p {
  color: #fff;
  margin-top: 15px;
}

.album-text {
  color: #fff;
  padding: 0 10px 5px;
}

/************** Footer ***********/
footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

footer p {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
}

footer p:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
  color: #191919;
  line-height: 10px;
}
footer p:nth-child(2) {
  font-size: 16px;
  color: #7e7d7d;
  width: 600px;
  text-align: center;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e3e3;
  margin: 20px 10px;
  border-radius: 50%;
}

.social-icons {
  display: flex;
}

.copyright {
  color: #565555;
  font-size: 15px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%);
}

.social-icons i {
  color: #000000;
}

.social-icons a:hover,
.a-social-b a:hover {
  background-color: #000000;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  transition: all ease 0.5s;
}

.social-icons a:hover i,
.a-social-b a:hover i {
  color: #ffffff;
  transition: all ease 0.5s;
}
/************** Footer ***********/

/************** Attacted social icons ***********/
.a-social-b {
  position: fixed;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.a-social-b a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 0px;
  margin: 0px;
  line-height: 0px;
  background-color: #ffffff;
  border: 1px solid #cbcbcb;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.a-social-b i {
  color: #2b2b2b;
  font-size: 20px;
}
/************** Attacted social icons ***********/

/************** @750px ***********/
@media (max-width: 750px) {
  section {
    background-image: none;
    background-color: #f7f7f7;
  }
  .model {
    display: none;
  }
  .toggle {
    display: block;
  }
  .text-container p:nth-child(2) {
    line-height: 40px;
    margin: 0px;
    padding: 0px;
  }
  .text-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
  nav ul {
    margin: 0px;
    padding: 0px;
    background-color: #ebeef4;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    display: none;
  }
  nav ul li {
    padding: 10px;
  }
  nav ul li a {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue";
    font-size: 1.4em;
    text-transform: uppercase;
    color: #55cc55;
  }
  nav ul li a:hover {
    color: #121212;
  }
  .toggle {
    z-index: 2;
  }
  .toggle::before {
    content: "\f0c9";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    line-height: 30px;
  }
  .toggle.active::before {
    content: "\f00d";
    right: 25px;
    line-height: 0px;
  }
  nav.active ul {
    display: flex !important;
  }
  .about-container {
    top: 0px;
    flex-direction: column;
    width: 90%;
    height: auto;
    padding: 30px 0px;
    align-items: center;
  }
  .about-text {
    width: 90%;
    text-align: center;
  }
  .services-text {
    width: 100%;
  }
  .contact-me {
    height: 180px;
  }
  .contact-me p {
    font-size: 18px;
  }
  .contact-me button {
    width: 150px;
    height: 33px;
  }
  footer p:nth-child(2) {
    width: 90%;
  }
}
